[project]
name = "twilioconversationrelay"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi",
    "openai",
    "python-dotenv",
    "twilio>=9.10.2",
    "uvicorn[standard]",
]
